.PRC_HD1_H1{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 20vh;
}
.PRC_H1{
    font-size: 30PX;
    text-wrap: wrap;
    word-wrap: break-word;
    color: rgb(63, 9, 58);
}
.PRC_DIV_D_LST{
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.PRC_DIV_D_BOX{
    box-shadow: rgba(63, 9, 58, 0.3) 0px 1px 2px 0px, rgba(63, 9, 58, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;
    height: 80vh;
    width: 300px;
    margin: 10px 10px 50px 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.PRICE_P{
    font-size: 30px;
    font-weight: 600;
    color: rgb(63, 9, 58);
}
.PRICE_SP{
    font-size: 15px;
    color: rgb(103, 103, 103);
}
.PRICE_HD{
    font-size: 20px;
    color: rgb(63, 9, 58);
    font-weight: 600;
}
.PRC_BTN{
    border: none;
    outline: none;
    background: none;
    height: 40px;
    background-color: rgb(63, 9, 58);
    border-radius: 20px;
    width: 150px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin: 20px;
}
.PRC_P{
    font-weight: 600;
    color: rgb(63, 9, 58);
    text-align: center;
    text-wrap: wrap;
    word-wrap: break-word;
}